.account_display{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #272635;
}

.account_info{
    width: 800px;
    height: 100%;
    overflow: scroll;
}

.account_info::-webkit-scrollbar { 
    display: none; 
}


.user_info_div{
    width: 100%;
    /* background-color: rgb(105, 105, 105); */
    background-color: #272635;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 30px;
}

.user_profile_img{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_profile_img > img{
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 150px;
}

.user_info{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user_username, .follow_info, #user_name{
    display: flex;
    align-items: center;
    height: 40px;
    color: white;
}

.follow_info{
    gap: 20px;
}

/* #user_name{

} */

#edit_button{
    width: 60px;
    height: 40px;
    font-family: "Montserrat";
    font-weight: bold;
    background-color: #7462ff;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 0.5s ;
}

#edit_button:hover{
    cursor: pointer;
    background-color: #6652fa;
    color: white;   
}

#edit_button:active{
    background-color: white;
    color: #6652fa;   

}


.user_post{
    width: 100%;
    height: 900px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_post_aurthor{
    height: 30px;
}

.edit_account{
    width: 900px;
    height: 800px;
    top: 50px;
    border-radius: 10px;
    background-color: #1f1f1f;
    position: absolute;
    display: none;
    flex-direction: column;
}

.close_edit_account_div{
    width: 890px;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    padding-right: 10px;
}

.edit_display{
    width: 100%;
    height: 740px;
    /* border: 1px solid red; */
    display: flex;
}

.edit_image_div, .edit_info_div{
    width: 50%;
    border: 1px solid green;
    height: 100%;
}

.edit_image_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit_file_upload_div{
    position: relative;
    top: -150px;
    left: -15px;
    width: 30px;
    height: 25px;
}

.edit_profile_label{
    /* position: ; */
    padding: 10px;
    background-color: #6652fa;
    border-radius: 10px;
}

#edit_profile_img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/* .edit_image_div{

} */

/* --------------------------------------------------------------------------------------------------------- */


.search_user_info_div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 30px;
}

.search_user_profile_img{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_user_profile_img > img{
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 150px;
}

.search_user_info{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search_user_username, .search_follow_info, #search_user_name{
    display: flex;
    align-items: center;
    height: 40px;
    color: white;
}

.search_follow_info{
    gap: 20px;
}



.search_follow_button{
    width: 60px;
    height: 40px;
    font-family: "Montserrat";
    font-weight: bold;
    background-color: #7462ff;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 0.5s ;
    padding: 2px;
}

.search_following_button{
    width: 70px;
    height: 40px;
    font-family: "Montserrat";
    font-weight: bold;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 10px;
    transition: all 0.5s ;
}

.search_follow_button:hover{
    cursor: pointer;
    background-color: #196666;
    color: white;   
}

.search_following_button:hover{
    cursor: pointer;
    background-color: #6652fa;
    color: white
}

.search_follow_button:active{
    background-color: #6652fa;
    color: #008080;   
}

.search_following_button:active{
    background-color: #008080;
    color: #6652fa;   
}

.search_user_post{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




