.app{
    display: flex;
    height: 100%;
    font-family: "Montserrat";
    color: white;
}

.panel_div{
    height: 100%;
    width: 16%;
    background-color: black;
}

.panel_icon{
    padding: 10px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #493caa;
    color: white;
}

.panel_icon > div{
    width: 80%;
    height: 100%;
    display: flex;
}

.panel_icon_img{
    height: 100%;
    width: 70px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel_icon_text{
    height: 100%;
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}


.panel_icon_img img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
}

.panel_option_div{
    height: 250px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
}

.panel_options{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 100%;
    border: 1px solid #09bd96;
}

.panel_options:hover{
    cursor: pointer;
    box-shadow: 2px 0px 10px rgba(255, 255, 255, 0.336);
    transform: scaleY(1.1);
}

.selected_option{
    color: white;
    background-color: #493caa;
}

.panel_option_name{
    padding-left: 15px;
    display: flex;
    gap: 20px;
}

.panel_option_name span{
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

.panel_option_name i{
    font-size: 22px;
}

#logout_div{
    width: 100%;
    position: relative;
    background-color: #09bd96;
    top: 451px;
}

#logout_button{
    width: 100%;
    height: 70px;
    background-color: #09bd96;
    border: none;
    color: white;
    transition: all 0.5 ease-in;
    font-family: "Montserrat";
    font-weight: bold;
}

#logout_button:hover{
    cursor: pointer;
    background-color: #089778;
}

.display{
    width: 94%;
    height: 100%;
    border-left: 1px solid #09bd96;
    background-color: black;
}