/* Search result div styling */
.search_result_div{
    width: 950px;
    height: 890px;
    top: 10px;
    left: 300px;
    border-radius: 10px;
    background-color: #1f1f1f;
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 2;
}

/* Close div button styling */
.close_serach_div{
    width: 940px;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    padding-right: 10px;
}

/* Close div button styling when hovering*/
#close_serach:hover{
    cursor: pointer;
}

/* result display styling*/
.result_display{
    width: 100%;
    height: 840px;
}

/* navigation unordered list styling */
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;  
}

/* navigation unordered list list styling */
nav ul li {
    height: 100%;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    list-style: none;
}

/* navigation unordered list list styling when hovering*/
nav ul li:hover {
    cursor: pointer;
    border: 1px solid grey;
}

/* Styling for when list item is selected */
.selected_nav_option{
    background-color: #404040;
}

/* results styling */
.results{
    width: 100%;
    height: 770px;
    border-top: 1px solid grey;
}

/* account , tag, and text resut styling */
.results_account, .results_tags, .results_text{
    width: 100%;
    height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

/* Styling for account results */
.results_account{
    padding-top: 20px;
    gap: 20px;
}

/* Syling for results of account, tag, and text  scrollbar track */
.results_account::-webkit-scrollbar-track,
.results_tags::-webkit-scrollbar-track,
.results_text::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
}

/* Syling for results of account, tag, and text  scrollbar */
.results_account::-webkit-scrollbar,
.results_tags::-webkit-scrollbar,
.results_text::-webkit-scrollbar {
    width: 10px;
}

/* Syling for results of account, tag, and text scrollbar-thumb */
.results_account::-webkit-scrollbar-thumb,
.results_tags::-webkit-scrollbar-thumb,
.results_text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #6552fc;
    border: 1px solid #000;
}

/* Styling for search_follow_suggestion */
.search_follow_suggestion{
    height: 150px;
    min-height: 150px;
    width: 550px;
    display: flex;
    border-radius: 10px;
    background-color: #008080;
}

/* Styling for search_follow_suggestion when hovering*/
.search_follow_suggestion:hover{
    cursor: pointer;
}

/* Styling for search_follow_suggestion */
.search_follow_img_div{
    width: 130px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for image in search_follow_img_div */
.search_follow_img_div img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

/* Styling for search_follow_suggestion_info */
.search_follow_suggestion_info{
    width: 400px;
}

/* Styling for search_follow_username */
.search_follow_username{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for search_followstatus_post_info */
.search_followstatus_post_info{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Styling for immediate child div under search_followstatus_post_info */
.search_followstatus_post_info > div{
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Styling for search_post_count and  search_followstatus_count*/
.search_post_count, .search_followstatus_count{
    display: flex;
    justify-content: end;
    width: 30px;
}

/* Styling for searched account div*/
.search_account_div{
    width: 100%;
    height: 850px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

/* Styling for searched account div scrollbar*/
.search_account_div::-webkit-scrollbar{
    display: none;
}